<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470643046322-au20tp1go1n3phc45g4pb2v4rrebvvd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470643046322-au20tp1go1n3phc45g4pb2v4rrebvvd4</string>
	<key>API_KEY</key>
	<string>AIzaSyD95krTO-bX623bvHdaeBHTRYEYo-qfjPU</string>
	<key>GCM_SENDER_ID</key>
	<string>470643046322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task3Notifications</string>
	<key>PROJECT_ID</key>
	<string>task-3-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>task-3-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470643046322:ios:4d6a65cba25ac94d8096ab</string>
</dict>
</plist>